#====================================================
#     Personal files
#====================================================
**/test.txt
.vscode
**/data
**/deps
**.out**
test/include_tests.cpp
**other.cpp

#====================================================
#     Binary files
#====================================================
a.out
**/build
**/bin