#====================================================
#     Personal files
#====================================================
**/test.txt
.vscode
**/data
**/deps
**.out**

#====================================================
#     Binary files
#====================================================
a.out
**/obj
**/bin