#====================================================
#     Personal files
#====================================================
test.txt
.vscode
**/data
**/deps

#====================================================
#     Binary files
#====================================================
a.out
**/obj
**/bin